{{ define "main" }}
{{ $grouped := dict }}



<h1>{{ .Title }}</h1>
{{ .Content }}
<hr>
<div class="page">
  <div class="main">

{{ range sort .Pages "Params.calendarDate" }}

<section>
<details><summary>{{ .Summary }}</summary>{{ .Content }}</details></section> 

{{ end }}
  </div>
  <div class="side">
{{ partial "terms.html" (dict "taxonomy"
"tags" "page" .) }}
  <h3>Tags</h3>
  <ol>
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <li><a href="{{ "/tags/" | relURL }}{{ $name | urlize }}">{{ $name }}</a> ({{ len $taxonomy }})</li>
    {{ end }}
  </ol>
  </div>

{{ end }}
