  {{ define "main" }}
  <h1>{{ .Title }}</h1>
<div class="page">
  <div class="main">

  {{ .Content }}
<hr>
   <iframe
            src="https://cryptpad.fr/form/#/2/form/view/0yoo8zKKMLaRPIo7ENljXrlR8A3KroBHEGmj60nUxcw/embed/"
            width="100%"
            height="800"
          ></iframe>
  </div>  
  <div class="side"> 
    {{ range .Resources.Match "side.md" }}
    <h2>{{ .Title }}</h2>
    {{ .Content}}
    {{ end }}
  </div>



</div>
<!-- <hr> -->
  <!-- <ul> -->
  <!--   {{ range $name, $taxonomy := .Site.Taxonomies.tags }} -->
  <!--     <li><a href="{{ "/tags/" | relURL }}{{ $name | urlize }}">{{ $name }}</a> ({{ len $taxonomy }})</li> -->
  <!--   {{ end }} -->
  <!-- </ul> -->
{{ end }}
