{{ define "main" }}
  <h1 style="text-align: center;">{{ .Title }}</h1>
<hr>
<div class="page">
  <div class="main">

  {{ .Content }}
  <!-- {{ range .Pages }} -->
  <!--   <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2> -->
  <!--   {{ .Summary }} -->
  <!-- {{ end }} -->
  </div>  
  <div class="side"> 
    {{ with site.GetPage "sidehome.md" }}
    <h2>{{ .Title }}</h2>
    {{ .Content}}
    {{ end }}
  </div>



</div>
<hr>
  <!-- <h3>Tags</h3> -->
  <!-- <ul> -->
  <!--   {{ range $name, $taxonomy := .Site.Taxonomies.tags }} -->
  <!--     <li><a href="{{ "tags/" | relURL }}{{ $name | urlize }}">{{ $name }}</a> ({{ len $taxonomy }})</li> -->
  <!--   {{ end }} -->
  <!-- </ul> -->
{{ end }}
